.dashboard.login {
	#content {
		width: auto;
	}
	#header h1 a {
		color: var(--accent);
	}
	.button:active,
	input[type="submit"]:active,
	input[type="button"]:active,
	.button:focus,
	input[type="submit"]:focus,
	input[type="button"]:focus,
	.button:hover,
	input[type="submit"]:hover,
	input[type="button"]:hover {
		background: var(--default-button-hover-bg);
	}
}
