#nav-sidebar {
	z-index: 15;
	border-top: 1px solid #0000;
	border-right: 1px solid var(--hairline-color);
	background-color: var(--body-bg);
	flex: 0 0 275px;
	margin-left: -276px;
	left: -276px;
	overflow: auto;
}

nav#nav-sidebar {
	display: none !important;
}
#nav-sidebar .module th {
	width: 100%;
	overflow-wrap: anywhere;
}

#nav-sidebar .module th,
#nav-sidebar .module caption {
	padding-left: 16px;
}

#nav-sidebar .module td {
	white-space: nowrap;
}

#nav-sidebar .current-app .section:link,
#nav-sidebar .current-app .section:visited {
	color: var(--header-color);
	font-weight: bold;
}

#nav-sidebar .current-model {
	background: var(--selected-row);
}

.main > #nav-sidebar + .content {
	max-width: calc(100% - 23px);
}

@media (max-width: 767px) {
	#nav-sidebar,
	#toggle-nav-sidebar {
		display: none;
	}

	.main > #nav-sidebar + .content,
	.main.shifted > #nav-sidebar + .content {
		max-width: 100%;
	}
}
