.dashboard {
	table {
		tbody {
			tr {
				input[type="checkbox"] {
					cursor: pointer;
				}
				* {
					vertical-align: middle;
					line-height: 110%;
				}

				th {
					vertical-align: middle !important;
				}
			}
			a {
				font-weight: 600 !important;
				&:hover {
					text-decoration: underline;
				}
			}
			tr:nth-child(even),
			tr:nth-child(even) .errorlist,
			tr:nth-child(odd) + .row-form-errors,
			tr:nth-child(odd) + .row-form-errors .errorlist {
				background: white;
			}
			tr {
				&:hover {
					background: rgb(242, 242, 242);
				}
			}
		}
	}

	
}
