/* TEXT STYLES & MODIFIERS */
.small {
	font-size: 11px;
}

.tiny {
	font-size: 10px;
}

p.tiny {
	margin-top: -2px;
}

.mini {
	font-size: 10px;
}

p.mini {
	margin-top: -3px;
}

.help,
p.help,
form p.help,
div.help,
form div.help,
div.help li {
	font-size: 11px;
	color: #666666;
}

div.help ul {
	margin-bottom: 0;
}

.help-tooltip {
	cursor: help;
}

p img,
h1 img,
h2 img,
h3 img,
h4 img,
td img {
	vertical-align: middle;
}

.quiet,
a.quiet:link,
a.quiet:visited {
	color: #666666;
	font-weight: normal;
}
